<div class="container" style="margin-top: 70px; max-width: 900px;">
    <!-- <div class="alert alert-info" role="alert">
        {{ pageInfo }}
    </div> -->
    <div class="">
      <h1>{{useDidappticHead}}</h1>
      <p>{{useDidappticDescription}}</p>
      <h2>{{registrationTitle}}</h2>
      <p>{{registrationDescription}}</p>
      <h2>{{appBoxTitle}}</h2>
      <p>{{appBoxDescription}}</p>
      <h3>{{appBoxDescriptionl3h1}}</h3>
      <p>{{appBoxDescriptionl3d1}}</p>
      <img src="{{appboxClosed}}" alt="appbox-closed">
      <h3>{{appBoxDetailsHead}}</h3>
      <p>{{appBoxDetailsDescription}}</p>
      <!-- <img src="{{appboxOpen}}" alt="appbox-open" height="300px"> -->
      <h4>{{appBoxDetails1}}</h4>
      <p>{{appBoxDetailsDescrp1}}</p>
      <h4>{{appBoxDetails2}}</h4>
      <p>{{appBoxDetailsDescrp2}}</p>
    </div>
</div>
