<main>
    <div class="container" id="new-app-container" style="margin-top: 70px; max-width: 900px;">
        <p class="h1">{{ pageTitle }}</p>
        <form id="new-user-form" method="post" role="form">
            <div class="border container">
                <div class="form-group">
                    <div class="form-group">
                        <h5><label for="first-name" class="control-label">{{ firstNameLabel }}*</label></h5>
                        <input type="text" class="form-control" id="first-name" name="first-name"
                               placeholder="{{ firstNamePlaceHolder }}" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <h5><label for="last-name" class="control-label">{{ lastNameLabel }}*</label></h5>
                    <input type="text" class="form-control" id="last-name" name="last-name"
                           placeholder="{{ lastNamePlaceHolder }}" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                    <h5><label for="user-name" class="control-label">{{ userNameLabel }}*</label></h5>
                    <input type="text" class="form-control" id="user-name" name="user-name"
                           placeholder="{{ userNamePlaceHolder }}" required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="password" class="control-label">{{ passwordLabel }}*</label></h5>
                    <label>{{ passwordPolicy|raw }}</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="{{ passwordPlaceHolder }}" required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="password-repeat" class="control-label">{{ passwordRepeatLabel }}*</label></h5>
                    <input type="password" class="form-control" id="password-repeat" name="password-repeat"
                           placeholder="{{ passwordRepeatPlaceHolder }}" required>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="e-mail" class="control-label">{{ emailLabel }}</label></h5>
                    <input type="email" class="form-control" id="e-mail" name="e-mail"
                           placeholder="{{ emailPlaceHolder }}">
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="website-url" class="control-label">{{ websiteUrlLabel }}</label></h5>
                    <input type="text" class="form-control" id="website-url" name="website-url"
                           placeholder="{{ websiteUrlPlaceHolder }}">
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="subjects-checkboxes" class="control-label">{{ subjectsLabel }}*</label></h5>
                    <p>{{ subjectsDescription }}</p>
                    <div class="container" id="subject-container">
                        <div class="row" id="subjects-checkboxes">
                            {% for key, value in subjects %}
                                <div class="col-xl-4">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="{{ key }}" class="subject-checkbox"
                                                      style="margin-right: 5px;">{{ value }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="newsletter" class="control-label">{{ newsletterLabel }}</label></h5>
                    <input type="checkbox" id="newsletter" name="newsletter">
                    <label class="form-check-label" for="newsletter">
                        {{ newsletterPlaceHolder }}
                    </label>
                </div>

                {% if permitted == true %}
                    <div class="form-group"> <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">{{ submitButtomLabel }}</button>
                    </div>
                    <label>{{ privacyPolicyHint|raw }}</label>
                    <label>{{ optionalHint|raw }}</label>
                {% endif %}
            </div>
        </form>
    </div>
</main>
<div id="dialog" title="" style="display:none;"></div>
<div class="spinner"><!-- Place at bottom of page --></div>

